.card {
	background-color: white;
	border-radius: 1rem;
	padding: 2rem;
	height: 100%;
	border: 1px solid #f3f4f6; /* gray-100 */
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
	transition: all 300ms;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card:hover {
	box-shadow:
		0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04); /* shadow-xl */
	border-color: rgba(212, 160, 36, 0.3); /* #D4A024/30 */
}
